<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<title>Login</title>
</head>
<body>
<div class="container-fluid">
	<div class="mx-auto" style="width: 250px">
		<br>
		<form th:action="@{/login}" method="POST">
			<h4 class="font-weight-bold">Please sign in</h4>
			<div th:if="${param.error}">
				<div class="alert alert-danger">Invalid email or password!</div>
			</div>
			<div th:if="${param.logout}">
				<div class="alert alert-info">You have been logged out.</div>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="email" placeholder="Email"/>
				<input type="password" name="password" class="form-control" placeholder="Password"/>
			</div>
			<div class="form-group">
				<input type="submit" class="form-control btn btn-primary" value="Sign in"/>
			</div>
		</form>
	</div>
</div>
</body>
</html>